<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1763a7fb-ab01-4498-afa2-4ef2ca474c8e/resourcegroups/rgsamplewordprocessor/providers/Microsoft.Web/sites/SampleWordProcessor</ResourceId>
    <ResourceGroup>rgsamplewordprocessor</ResourceGroup>
    <ApiResourceId>/subscriptions/1763a7fb-ab01-4498-afa2-4ef2ca474c8e/resourceGroups/adfloganaworkspace/providers/Microsoft.ApiManagement/service/SampleParserapi/apis/SampleParser</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://samplewordprocessor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>ae6bfae3-0dbb-4749-8b4f-2fbd202151a0</ProjectGuid>
    <MSDeployServiceURL>samplewordprocessor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SampleWordProcessor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SampleWordProcessor</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>